<a href="https://colab.research.google.com/github/PaoloTCS/Verbum/blob/main/TypeTokenRatioTensorFlowStart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import nltk
import numpy as np
import gensim
import re

# New Section

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [4]:
%matplotlib notebook
import matplotlib.pyplot as plt
plt.style.use('ggplot')

from sklearn.decomposition import PCA

from gensim.test.utils import datapath, get_tmpfile
from gensim.models import KeyedVectors
from gensim.scripts.glove2word2vec import glove2word2vec

In [5]:
from nltk.tokenize import word_tokenize
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [6]:
from nltk import FreqDist

In [7]:
from nltk import bigrams
from nltk.collocations import BigramCollocationFinder 
from nltk.metrics import BigramAssocMeasures

In [8]:
import os

In [9]:
output_dir = "/content/drive/MyDrive/Data/OutputFiles/"

In [10]:
subjFiles = []
for root, dirs, files in os.walk(output_dir, topdown=False):
  for name in sorted(files):
    if name.startswith("S_R"):
      subjFiles.append(os.path.join(root, name))
print(len(subjFiles))

153

In [11]:
interviewerFiles = []
for root, dirs, files in os.walk(output_dir, topdown=False):
  for name in sorted(files):
    if name.startswith("I_R"):
      interviewerFiles.append(os.path.join(root, name))
print(len(interviewerFiles))

153

In [12]:
temp = []

listOfFiles = []
for subjFile in subjFiles:
  full_route = subjFile.split(os.sep)
  # get the filename just from S to end of number    
  root_ext = (os.path.splitext(full_route[6]))[0][0:6]
  filesize = os.path.getsize(subjFile)
  if filesize > 0:
    subjText = open(subjFile, "r")
    subjText = subjText.read()
    cleanSubjText = subjText.replace("*", "")
    cleanSubjText = re.sub(r"S:\d+\s+?", "", cleanSubjText)
    tokenLen = len(cleanSubjText)
    typeLen = len(set(cleanSubjText))
    typeTokenRatio = typeLen/tokenLen
    listOfFiles.append([root_ext, typeTokenRatio])
    temp.append(subjFile)

In [13]:
intervTemp = []

filteredInterviewerFiles = []
for interviewerFile in interviewerFiles:
  full_route = interviewerFile.split(os.sep)
  # get the filename just from S to end of number    
  root_ext = (os.path.splitext(full_route[6]))[0][0:6]
  filesize = os.path.getsize(interviewerFile)
  if filesize > 0:
    interviewerText = open(interviewerFile, "r")
    interviewerText = interviewerText.read()
    cleanInterviewerText = interviewerText.replace("*", "")
    cleanInterviewerText = re.sub(r"I:\d+\s+?", "", cleanInterviewerText)
    tokenLen = len(cleanInterviewerText)
    typeLen = len(set(cleanInterviewerText))
    typeTokenRatio = typeLen/tokenLen
    filteredInterviewerFiles.append([root_ext, typeTokenRatio])
    intervTemp.append(interviewerFile)

In [14]:
import pandas as pd

In [15]:
df = pd.DataFrame(listOfFiles, columns = ['Filename', 'Type Token Ratio'])

In [16]:
print(len(subjFiles))
print(len(listOfFiles))
print(len(temp))

set(subjFiles).symmetric_difference(temp)

153
149
149

{'/content/drive/MyDrive/Data/OutputFiles/S_R001.txt',
 '/content/drive/MyDrive/Data/OutputFiles/S_R001_Only_S.txt',
 '/content/drive/MyDrive/Data/OutputFiles/S_R144.txt',
 '/content/drive/MyDrive/Data/OutputFiles/S_R145.txt'}

In [17]:
print(len(interviewerFiles))
print(len(filteredInterviewerFiles))
print(len(intervTemp))

set(interviewerFiles).symmetric_difference(intervTemp)

153
144
144

{'/content/drive/MyDrive/Data/OutputFiles/I_R001.txt',
 '/content/drive/MyDrive/Data/OutputFiles/I_R001_Only_S.txt',
 '/content/drive/MyDrive/Data/OutputFiles/I_R144.txt',
 '/content/drive/MyDrive/Data/OutputFiles/I_R145.txt',
 '/content/drive/MyDrive/Data/OutputFiles/I_R146.txt',
 '/content/drive/MyDrive/Data/OutputFiles/I_R147.txt',
 '/content/drive/MyDrive/Data/OutputFiles/I_R148.txt',
 '/content/drive/MyDrive/Data/OutputFiles/I_R149.txt',
 '/content/drive/MyDrive/Data/OutputFiles/I_R150.txt'}

In [18]:
# missing elements:
# {'/content/drive/MyDrive/Data/OutputFiles/S_R001.txt',
#  '/content/drive/MyDrive/Data/OutputFiles/S_R001_Only_S.txt',
#  '/content/drive/MyDrive/Data/OutputFiles/S_R144.txt',
#  '/content/drive/MyDrive/Data/OutputFiles/S_R145.txt'}

In [19]:
# missing:
# {'/content/drive/MyDrive/Data/OutputFiles/I_R001.txt',
#  '/content/drive/MyDrive/Data/OutputFiles/I_R001_Only_S.txt',
#  '/content/drive/MyDrive/Data/OutputFiles/I_R144.txt',
#  '/content/drive/MyDrive/Data/OutputFiles/I_R145.txt',
#  '/content/drive/MyDrive/Data/OutputFiles/I_R146.txt',
#  '/content/drive/MyDrive/Data/OutputFiles/I_R147.txt',
#  '/content/drive/MyDrive/Data/OutputFiles/I_R148.txt',
#  '/content/drive/MyDrive/Data/OutputFiles/I_R149.txt',
#  '/content/drive/MyDrive/Data/OutputFiles/I_R150.txt'}

In [20]:
interviewer_df = pd.DataFrame(filteredInterviewerFiles, columns = ['Interviewer', 'Interviewer Type Token Ratio'])

In [21]:
interviewer_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 2 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Interviewer                   144 non-null    object
 1   Interviewer Type Token Ratio  144 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.4+ KB

In [22]:
print(df.head(15))

   Filename  Type Token Ratio
0    S_R001          0.008924
1    S_R002          0.024403
2    S_R003          0.014694
3    S_R003          0.014694
4    S_R004          0.015278
5    S_R005          0.022033
6    S_R006          0.037512
7    S_R007          0.021176
8    S_R008          0.007646
9    S_R009          0.013771
10   S_R010          0.015358
11   S_R011          0.010478
12   S_R012          0.005410
13   S_R013          0.008016
14   S_R014          0.030032

In [23]:
print(interviewer_df.head(15))

   Interviewer  Interviewer Type Token Ratio
0       I_R001                      0.015286
1       I_R002                      0.020598
2       I_R003                      0.009270
3       I_R003                      0.009278
4       I_R004                      0.008327
5       I_R005                      0.016363
6       I_R006                      0.027027
7       I_R007                      0.012071
8       I_R008                      0.014596
9       I_R009                      0.024355
10      I_R010                      0.023166
11      I_R011                      0.014991
12      I_R012                      0.013723
13      I_R013                      0.013084
14      I_R014                      0.024975

In [24]:
df.sort_values(by=['Filename'])
# 144+ are non-standard

    Filename  Type Token Ratio
0     S_R001          0.008924
1     S_R002          0.024403
2     S_R003          0.014694
3     S_R003          0.014694
4     S_R004          0.015278
..       ...               ...
144   S_R146          0.500000
145   S_R147          0.250000
146   S_R148          0.250000
147   S_R149          0.500000
148   S_R150          0.166667

[149 rows x 2 columns]

In [25]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Filename          149 non-null    object
 1   Type Token Ratio  149 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.5+ KB

In [26]:
key_df = pd.read_excel('/content/drive/MyDrive/Data/RAND_Truth_Key.xlsx')

In [27]:
print(key_df)

    Participant (Research #)  IS Status 2       IS Status 2.1  Conversion
0                        R01          2.0  Partially Truthful           3
1                        R02          3.0           Deception           3
2                        R03          1.0    Totally Truthful           1
3                        R04          2.0  Partially Truthful           3
4                        R05          1.0    Totally Truthful           1
..                       ...          ...                 ...         ...
106                     R107          3.0           Deceptive           3
107                     R108          1.0    Totally Truthful           1
108                     R109          1.0    Totally Truthful           1
109                     R110          2.0  Partially Truthful           3
110                     R111          3.0           Deceptive           3

[111 rows x 4 columns]

In [28]:
key_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Participant (Research #)  111 non-null    object
 1   IS Status 2               111 non-null    float64
 2   IS Status 2.1             111 non-null    object
 3   Conversion                111 non-null    int64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.6+ KB

In [29]:
merged_df = df.merge(key_df, left_index=True, right_index=True)
merged_df = merged_df.drop(columns=["Participant (Research #)", "IS Status 2", "IS Status 2.1"])
merged_df = merged_df.rename(columns={"Conversion": "target"})
print(merged_df)

    Filename  Type Token Ratio  target
0     S_R001          0.008924       3
1     S_R002          0.024403       3
2     S_R003          0.014694       1
3     S_R003          0.014694       3
4     S_R004          0.015278       1
..       ...               ...     ...
106   S_R106          0.034121       3
107   S_R107          0.022087       1
108   S_R108          0.006439       1
109   S_R109          0.008664       3
110   S_R110          0.023798       3

[111 rows x 3 columns]

In [30]:
merged_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111 entries, 0 to 110
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Filename          111 non-null    object
 1   Type Token Ratio  111 non-null    float64
 2   target            111 non-null    int64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.5+ KB

In [31]:
import tensorflow as tf

In [32]:
merged_df['Filename'] = pd.Categorical(merged_df['Filename'])
merged_df['Filename'] = merged_df.Filename.cat.codes

merged_df['target'] = pd.Categorical(merged_df['target'])
merged_df['target'] = merged_df.target.cat.codes

In [33]:
merged_df.info(verbose=True)
print(merged_df)
# typetoken is a feature column and Conversion/target (truthful/not) is the target column

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111 entries, 0 to 110
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Filename          111 non-null    int8
 1   Type Token Ratio  111 non-null    float64
 2   target            111 non-null    int8
dtypes: float64(1), int8(2)
memory usage: 2.0 KB
     Filename  Type Token Ratio  target
0           0          0.008924       1
1           1          0.024403       1
2           2          0.014694       0
3           2          0.014694       1
4           3          0.015278       0
..        ...               ...     ...
106       105          0.034121       1
107       106          0.022087       0
108       107          0.006439       0
109       108          0.008664       1
110       109          0.023798       1

[111 rows x 3 columns]

In [34]:
target = merged_df.pop('target')

In [35]:
dataset = tf.data.Dataset.from_tensor_slices((merged_df.values, target.values))
for feat, targ in dataset.take(1):
  print ('Features: {}, Target: {}'.format(feat, targ))

Features: [0.         0.00892414], Target: 1

In [36]:
train_dataset = dataset.shuffle(len(merged_df)).batch(1)

In [37]:
# def get_compiled_model():
#   model = tf.keras.Sequential([
#     tf.keras.layers.Dense(10, activation='relu'),
#     tf.keras.layers.Dense(10, activation='relu'),
#     tf.keras.layers.Dense(1, activation='linear')
#   ])

#   model.compile(optimizer='adam',
#                 loss='mean_squared_error',
#                 metrics=['accuracy'])
#   return model

def get_compiled_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(1, activation='softmax')
  ])

  model.compile(optimizer='adam',
                loss='categorical_crossentropy',
                metrics=['accuracy'])
  return model

In [38]:
model = get_compiled_model()

In [39]:
model.fit(train_dataset, epochs=15)
# could probably use another feature column

Epoch 1/15
111/111 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4775
Epoch 2/15
111/111 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.4775
Epoch 3/15
111/111 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4775
Epoch 4/15
111/111 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.4775
Epoch 5/15
111/111 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.4775
Epoch 6/15
111/111 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4775
Epoch 7/15
111/111 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.4775
Epoch 8/15
111/111 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4775
Epoch 9/15
111/111 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.4775
Epoch 10/15
111/111 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.4775
Epoch 11/15
111/111 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.4775
Epoch 12/15
111/111 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.4775
Epoch 13/15
111/111 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.4775
Epoch 14/15
111/111 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.4775
Epoch 15/15
111/111 [==============================] - 0s 1ms/step - loss: 0.0000e+00 - accuracy: 0.4775

# May 12, 2022